.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('/Users/anusharesu/Desktop/Thankyou.png');
    background-size: cover; /* Make sure the image covers the entire area */
    background-position: center; /* Center the image */
}

.backButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.backButton:hover {
    background-color: #218838;
}