.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/Users/anusharesu/Desktop/welcomee.jpg');
    background-size: cover; /* Make sure the image covers the entire area */
    background-position: center; /* Center the image */
    background-color: #f0f0f0;
}

.loginButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #0056b3;
}